* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  background-color: #02162b;
}
.fst_nav {
  position: sticky;
  top: 5px;
  background-color: #00283a;
  height: 80px;
  border-radius: 10px;
  margin: 10px 5px 0px 5px;
  z-index: 9;
  padding: 0px 150px 0px 150px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fst_nav div {
  display: inline-block;
}
.fst_nav div .Logo_nav {
  position: relative;
  top: 25px;
  display: inline-block;
  color: #dedee0;
  font-size: 22px;
  font-weight: 900;
  margin: 0px 100px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.list_nav {
  position: relative;
  top: 20px;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  margin: 0px 25px 0px 25px;
  padding: 0px 0px 0px 0px;
}
.list_nav a {
  color: #dedee0;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.Download_Btn {
  width: 180px;
  height: 40px;
  border-radius: 40px;
  color: #ffffff;
  background-color: #70b965;
  font-size: 13px;
  font-weight: 900;
  border: none;
  margin: 0px 0px 0px 100px;
  padding: 0px 0px 0px 0px;
}
