.bar {
  color: snow;
  background-color: #0a374c;
  border-radius: 100px;
  border-style: solid;
  border-spacing: 10pt;

}

body {
  background-image: url(/Image/thumb-1920-587777.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Hello {
  /* border-style: solid; */
  /* border-style: dashed ; */
  border-style: double;
  border-radius: 10px;
  border-width: thick;
  border-color: #0a374c;
  margin: auto;
  height: 50%;
  width: 50%;
}
.bar_list
{

    background-color: darkslategrey;
    margin-right: 1235px;
}


